@charset "utf-8";
@import url("colors.css");

/*view more button*/
.view-more-button {
    padding: 10px;
    background: transparent;
    border: 2px solid var(--autumn-black);
    color: var(--autumn-black);
    border-radius: 20px;
    box-sizing: border-box;
    font-weight: bold;
}

.view-more-button:hover {
	cursor: pointer;
	background-color: var(--autumn-mid-color);
    border-color: var(--autumn-mid-color);
    color: var(--autumn-white);
}