@charset "utf-8";
@import url("colors.css");
/* CSS Document */
html{
    background-color: var(--autumn-white);
}

* {
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}

body * {
	color: var(--autumn-black);
}